* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app-container {
  padding: 0.5rem 0 0 0;
}

.main-container {
  background-image: url('images/background2.png');
  height: calc(100vh - 62px);
}

.header-main {
  font-size: 5rem;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.3rem;
}

.header-logo {
  position: relative;
  bottom: -5px;
  right: -1px;
  width: 55px;
}

.subtitle-main {
  font-size: 0.8rem;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.secondary-header {
  text-align: center;
}

.name-text {
  font-style: bold;
}

.matches-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.paragraph-description {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

button.message-button {
  padding: 0.5rem !important;
}

h3.message-header {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  left: calc(50% - 77px);
}

.message-grid {
  background-color: rgb(251, 251, 251);
  height: calc(100vh - 130px);
}

.thin-divider {
  margin-bottom: 0 !important;
}

.activities-container {
  margin-top: 0.4rem;
}

.blue-message-left {
  margin-top: 0.3rem;
  margin-left: 1rem;
  padding-bottom: 0 !important;
}

.blue-message-right {
  margin-top: 0.3rem;
  margin-right: 0.5rem;
}

.send-message {
  position: fixed !important;
  width: 96%;
  bottom: 0.8rem;
  right: 0.5rem;
}

.message-container {
  max-height: calc(100vh - 170px);
  overflow-y: scroll;
  margin-right: 0 !important;
}

.message-bottom {
  height: 1rem;
}

.login-form {
  margin-top: 2rem;
}

.date-time-container {
  padding: 0 !important;
}

.left-date-time-container {
  padding: 0 !important;
  margin-left: 1.2rem;
}

.date-time {
  border: none !important;
  padding-left: 0 !important;
  padding-top: 0.1rem !important;
  font-weight: normal !important;
}

.form-column {
  max-width: 350px !important;
}

.activity-header {
  font-weight: bold;
}

.no-matches {
  margin-top: 0 !important;
}

.accept-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) {
  .app-container {
    width: 723px !important;
  }

  .form-column {
    margin-top: 5rem;
  }

  .activity-container,
  .sign-up-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }

  .activity-form {
    align-self: center;
    width: 400px;
  }

  .message-container {
    width: 737px;
  }
}

@media only screen and (min-width: 1024px) {
  .matches-activities-container {
    max-width: 723px;
    margin-top: 2rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .send-message {
    width: 723px !important;
    left: calc(50% - 384px);
    bottom: 1.2rem;
  }

  .match-header {
    font-size: 1.1rem;
  }

  .paragraph-description {
    font-size: 1.05rem;
  }
}
